<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
  	 

  <bean id="ServiceImp" class="org.mql.gc.services.ServiceImpl" autowire-candidate="true">
	  	<property name="caseDao" ref="CaseDaoImp"></property>
	  	<property name="associationDao" ref="AssociationDaoImp"></property>
	  	<property name="donorDao" ref="DonorDaoImp"></property>
	  <property name="donationDao" ref="DonationDaoImp"></property>
	  	
  </bean>

	  <bean id="CaseDaoImp" class="org.mql.gc.dao.CaseDaoImp">
	  		 <property name="dao" ref="BaseDAO"></property> 
	  </bean>
	  
	  <bean id="DonationDaoImp" class="org.mql.gc.dao.DonationDaoImp">
	  		 <property name="dao" ref="BaseDAO"></property> 
	  </bean>
	  
	  <bean id="AssociationDaoImp" class="org.mql.gc.dao.AssociationDaoImp">
	    	<property name="dao" ref="BaseDAO"></property>
	  </bean>
	  <bean id="DonorDaoImp" class="org.mql.gc.dao.DonorDaoImp">
	      	<property name="dao" ref="BaseDAO"></property>
	  </bean>
	  
	  <!-- je demande à karim de réaliser ce bean ... : hassan / 07/01/2018  -->
	  <bean id="BaseDAO" class="org.mql.gc.dao.BaseDAO">
	  </bean>

    <!-- les beans action  -->
    <bean id="showCase" class="org.mql.gc.actions.ShowCase">
	  		<property name="service" ref="ServiceImp"></property>
	 </bean> 
    <bean id="donBean" class="org.mql.gc.actions.DonorBean">
  		<property name="service" ref="ServiceImp"></property>
  		<property name="donor" ref="Donor"></property>
    </bean>
    <bean id="assBean" class="org.mql.gc.actions.AssociationBean">
      	<property name="service" ref="ServiceImp"></property>
      	<property name="association" ref="Association"></property>
    </bean>
    <bean id="donAction" class="org.mql.gc.actions.DonationBean">
		<property name="service" ref="ServiceImp"></property>
		<property name="donation" ref="Donation"></property>
		
    </bean>
    <bean id="InsertCaseBean" class="org.mql.gc.actions.InsertCaseBean">
		<property name="service" ref="ServiceImp"></property>
		<property name="cas" ref="Case"></property>
    </bean>
 	<bean id="validateAssBean" class="org.mql.gc.actions.validateAssociationBean">
 		<property name="service" ref="ServiceImp"></property>
 		<property name="association" ref="Association"></property>
 	</bean>
 	
 	<!-- <bean id="CaseValidation" class="org.mql.gc.actions.CaseValidation">
 		 	<property name="service" ref="ServiceImp"></property>
 	</bean>
	 -->
 	<!-- les models  -->
 	<bean id="Donor" class="org.mql.gc.models.Donor"/>
 	<bean id="Donation" class="org.mql.gc.models.Donation"/>
 	<bean id="Association" class="org.mql.gc.models.Association"/>
 	<bean id="Case" class="org.mql.gc.models.Case"/>
 	
 	
 
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
    
</beans>