<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kaisahhh</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
      
        <!-- afficher le SQL dans le stdout -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- create the database schema on startup // create-drop -->  
		<property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
 
 		<mapping resource="org/mql/gc/models/Association.hbm.xml"/>
        <mapping resource="org/mql/gc/models/Cas.hbm.xml" />
        <mapping resource="org/mql/gc/models/Donation.hbm.xml" />
        <mapping resource="org/mql/gc/models/Donnateur.hbm.xml" />
<!--          <mapping resource="org/mql/gc/models/Operation.hbm.xml" /> -->
    </session-factory>
</hibernate-configuration>
